<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<!-- 配置扫描的包 -->
	<context:component-scan base-package="com.senoops.service" />

	<!-- 配置数据源 -->
	<context:property-placeholder location="classpath:jdbc.properties" />
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">  
	  <property name="driverClassName">  
	      <value>${jdbc.driverClassName}</value>  
	  </property>  
	  <property name="url">  
	      <value>${jdbc.url}</value>  
	
	  </property>  
	  <property name="username">  
	      <value>${jdbc.username}</value>  
	  </property>  
	  <property name="password">  
	      <value>${jdbc.password}</value>  
	  </property>  	
	</bean>
	<!-- 配置sqlSessionFactory属性 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="typeAliasesPackage" value="com.senoops.model" />
		<property name="mapperLocations" value="classpath:mapper/**/*.xml" />
	</bean>

	

	<!-- 自动扫描的mapper -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.senoops.dao"></property>
	</bean>

	
	

	
	

	

	


</beans>
